<div class="form-style-6"> 

	<%= form_for @user do |f| %>

	<p>
		<%= f.label :fname %>
		<%= f.text_field :fname %>
	</p>

	<p>
		<%= f.label :lname %>
		<%= f.text_field :lname %>
	</p>

	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>

	<p>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</p>

	<p>
		<%= f.submit @user.new_record? ? "sign up" : "edit account" %>
	</p>

<% end %>

</div>
