<div id="profileBox">
	<div id="profile">
		<div id="profileCenter">
			<div id="profileBody">
				<h3><%= @user.fname %></h3>
				<h3><%= @user.lname %></h3>
				<h3><%= @user.email %></h3>
				<h3><%= @user.username %></h3>

				<% if current_user and @user == current_user %>
				    <p><%= link_to "edit profile", edit_user_path(@user) %></p>
				<% end %>
				
				<br>

				<h3><%= link_to "Close Your Account", @user, method: :delete, data: {confirm: "Are you sure?"} %></h3>

				<!-- User is Following -->
				<h3>Following</h3>
				<ol>
				<% @user.following.each do |user| %>
					<li><%= user.username %></li>
				<% end %>
				</ol>

				<!-- Users Posts -->
				<h1> <%= @user.username %>'s Posts </h1>
				<ol>
				<% @user.posts.each do |post| %>
						<li> <%= post.body %> </li>
				<%end%>
				</ol>
			</div>
		</div>
	</div>
</div>