<div class="center">
	<div class="bodycenterToPage">	
		<div class="mainBody">

		<div class="submitForm">
			<%= render "form" %>
		</div>

		<div id="news">
			<div id="posts">
				<% @posts.each do |post| %>
					<div class="userPosts">
						<p><%= post.user.fname %> <%= post.user.lname %> @<%= post.user.username %></p>
						<p id="postBody"><%= post.body %></p>
					</div>
				<% end %>
			</div>
		</div>

		</div>
	</div>
</div>